####################
# Listen
####################

# Addresses to listen on (ntpd does not listen by default)
#listen on *
#listen on 127.0.0.1
#listen on ::1

{% for s in openntpd_listen %}
listen on {{ s }}

{% endfor %}

####################
# pools
####################

# OpenBSD default
# servers pool.ntp.org
# server time.cloudflare.com

# Debian NTP Pool
# servers 0.debian.pool.ntp.org
# servers 1.debian.pool.ntp.org
# servers 2.debian.pool.ntp.org
# servers 3.debian.pool.ntp.org

{% for s in openntpd_pools %}
{{ s.type }} {{ s.address }} {% if s.trusted | default(False) %}trusted{% endif %} {% if s.weight is defined %}weight {{ s.weight }}{% endif %}

{% endfor %}

####################
# sensors
####################

# use a specific local timedelta sensor (radio clock, etc)
#sensor nmea0

# use all detected timedelta sensors
#sensor *

{% for s in openntpd_sensors %}
sensor {{ s }}

{% endfor %}

{% if _openntpd_libtls_enabled %}
####################
# constraints
####################

# OpenBSD default
# constraint from "9.9.9.9"              # quad9 v4 without DNS
# constraint from "2620:fe::fe"          # quad9 v6 without DNS
# constraints from "www.google.com"      # intentionally not 8.8.8.8

{% for s in openntpd_constraints %}
{{ s.type }} from {{ s.address }}

{% endfor %}
{% endif %}